#base
.DS_Store
.env
.env.*
.AppleDouble
../.DS_Store
.icloud
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
enthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

#frontend
node_modules/
dist/
package-lock.json
package.json

#logs
*.log

#archives
*.zip
*.tar.gz
*.rar
