#base
.DS_Store
.env
.env.*
.AppleDouble
../.DS_Store
.icloud
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
enthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
.idea

#frontend
node_modules/
dist/
package-lock.json
package.json
oops_trap/test-results-unit/
oops_trap/test-results-e2e/
oops_trap/test-results/

#logs
*.log

#archives
*.zip
*.tar.gz
*.rar
