services:

  frontend:
    build:
      context: ./oops_trap
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./oops_trap:/app
      - node_modules_frontend:/app/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file: .env
    environment:
      - NODE_ENV=development
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
      - node_modules_backend:/app/node_modules

  liquibase:
    build:
      context: ./db
      dockerfile: Dockerfile
    working_dir: /liquibase
    command: [
      "--changeLogFile=changelog/master.xml",
      "--url=${LIQUIBASE_COMMAND_URL}",
      "--username=${LIQUIBASE_COMMAND_USERNAME}",
      "--password=${LIQUIBASE_COMMAND_PASSWORD}",
      "update"
    ]
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    env_file: .env

volumes:
  postgres_data:
  node_modules_frontend:
  node_modules_backend: