name: test project

on:
  push:
    branches:
      - '**'

jobs:
  frontend-build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: some logs
        run: |
          pwd
          ls -la

      - name: setup node.js 
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ./oops_trap/package-lock.json

      - name: install dependencies
        working-directory: ./oops_trap
        run: npm ci

      - name: run eslint
        working-directory: ./oops_trap
        run: npm run lint

      - name: build project
        working-directory: ./oops_trap
        run: npm run build

      - name: upload build
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: oops_trap/dist/
          retention-days: 1
      
  frontend-test:
    runs-on: ubuntu-latest
    needs: frontend-build
    defaults:
      run:
        working-directory: oops_trap
    steps:

      - name: test checkout
        uses: actions/checkout@v4

      - name: some logs
        run: |
          pwd
          ls -la

      - name: setup node.js 
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ./oops_trap/package-lock.json

      - name: install dependencies
        working-directory: ./oops_trap
        run: npm ci

      # - name: run unit tests
      #   working-directory: ./oops_trap
      #   run: npm run test:unit

      # - name: run tests with coverage
      #   working-directory: ./oops_trap
      #   run: npm run test:coverage

      - name: upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: oops_trap/test-results-unit/coverage
          retention-days: 1

  frontend-e2e:
    runs-on: ubuntu-latest
    needs: frontend-build
    defaults:
      run:
        working-directory: oops_trap
    steps:
      - name: checkout 
        uses: actions/checkout@v4

      - name: some logs
        run: |
          pwd
          ls -la

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm
          cache-dependency-path: ./oops_trap/package-lock.json
      
      - name: install dependencies
        working-directory: ./oops_trap
        run: npm ci

      - name: download build 
        uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist
    
      - name: install playwright
        working-directory: ./oops_trap
        run: npx playwright install

      - name: Run e2e tests
        working-directory: ./oops_trap
        run: npm run test:e2e

  backend-unit:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: some logs
        run: |
          pwd
          ls -la

      - name: setup node.js 
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ./backend/package-lock.json

      - name: install dependencies
        working-directory: ./backend
        run: npm ci

      - name: run tests
        working-directory: ./backend
        run: npm run test
